# Fichiers sensibles
.env
*.env
secrets/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
.venv/

# Fichiers de données
*.csv
*.joblib
crop_context.txt

# IDE
.idea/
.vscode/

# Streamlit
.streamlit/